.lex-search-container {
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
}
/*Ügyvvéd kártya*/
.lawyer-card {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 6px;
  background: #f9f9f9;
}
/* Ügyvéd tartalom*/
.lexsearch-content {
margin-top: 40px;
padding: 30px;
background: rgba(255, 255, 255, 0.1);
box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
backdrop-filter: blur(10px);
border-radius: 16px;
}
/* Ügyvéd Szűrő*/
.filter-row {
display: flex;
flex-wrap: wrap;
gap: 20px;
align-items: flex-end;
margin-bottom: 30px;
justify-content: center;
}

.filter-group {
display: flex;
flex-direction: column;
min-width: 160px;
}

.filter-group label {
font-size: 14px;
font-weight: 500;
margin-bottom: 6px;
}

.filter-group select,
.filter-group input {
padding: 8px;
border-radius: 8px;
border: none;
height: 40px;
background: rgba(255, 255, 255, 0.15);
color: white;
backdrop-filter: blur(4px);
box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  margin-bottom: 30px;
}
/*Keresettek csoportjának kártyái*/
.search-card {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  color: white;
  min-width: 200px;
  flex: 1;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.4);
  margin-bottom: -2%;
}

.filter-group select option {
  background-color: white;
  color: black;
}

/* Keresés gomb */
.search-btn {
padding: 10px 20px;
background-color: rgba(255, 255, 255, 0.15);
color: white;
border: none;
border-radius: 8px;
font-weight: 600;
cursor: pointer;
transition: background 0.3s ease;
}
/* Keresés gomb hover állapotban */
.search-btn:hover {
background-color: rgba(255, 255, 255, 0.5);
} 
/*Keresés visszajelzés*/
.search-feedback {
  margin-top: 32px;
  padding: 14px 24px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.15);
  max-width: 100%;
  width: 100%;
  color: #d1d5db;
}
/*Keresés visszajelzése hibánál*/
.search-feedback.error {
  color: #f87171;
  border-left: 6px solid #f87171;
  border-right: 6px solid #f87171;
}

.search-feedback.info {
  color: #d1d5db;
  border-left: 6px solid #9ca3af;
}

/*Ügyvéd kártya*/
.lawyer-card {
background: rgba(255, 255, 255, 0.08);
padding: 20px;
border-radius: 12px;
box-shadow: 0 0 20px rgba(8, 7, 16, 0.4);
backdrop-filter: blur(6px);
color: white;
margin-top: 20px;
}

/* Ügyvéd kártya gomb*/
.lawyer-card button {
margin-top: 10px;
padding: 8px 16px;
background-color: rgba(255, 255, 255, 0.08);
border: none;
border-radius: 6px;
color: white;
font-weight: 500;
cursor: pointer;
}

/* Ügyvéd kártya gomb hover állapotban*/
.lawyer-card button:hover {
background-color: rgba(255, 255, 255, 0.5);
}



