html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #080710;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

.main-content {
  flex-grow: 1;
}

.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.features-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;

  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.main-page {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  backdrop-filter: blur(10px);
  width: 80%;
  margin: auto;
  margin-top: 8%;
  transition: width 0.3s ease;
}

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.8%;
  width: 100%;
  padding-bottom: 2.5%;
}

.features-position {
  margin-top: 36.6%;
}

.feature {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 32%;
  min-width: 250px;
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
  backdrop-filter: blur(5px);
  text-align: left;
  transition: width 0.3s ease;
  height: 70%;
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1rem;
  font-weight: 300;
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  .footer-main {
    height: 8vh;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .footer-main {
    height: 7vh;
    font-size: 0.8rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .main-page {
    width: 90%;
  }

  .feature {
    width: 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .display-4 {
    font-size: 2.5rem;
  }

  .lead {
    font-size: 1.2rem;
  }

  .feature {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .display-4 {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .feature {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .display-4 {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 0.9rem;
  }

  .feature {
    padding: 10px;
  }
}