@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  color: #fff;
  background-size:auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../../public/bgImage.png);
}

.navbar {
  width: 100%; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.container {
  width: 100%;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header {
  background: linear-gradient(100deg, #0E0B19, #58656E);
  padding: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.logo {
  padding: 10px 0;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.logout-button {
  transition: color 0.3s ease;
}

.logout-button:hover {
  color: red;
}

.logout-button:hover {
  color: red;
}


.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  color: #fff;
  width: auto;
}

nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #333;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10 px 0;
  z-index: 9;
}

nav.open {
  display: flex;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  margin-left: 50px;
  position: relative;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  width: 0%;
  transition: width 0.3s ease;
}

nav a:hover::before {
  width: 100%;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #333;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  nav.open {
    display: flex;
  }

  .container {
    width: 100%;
    padding: 0 20px;
  }

  .logo {
    float: none;
    text-align: center;
    padding: 20px 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-left: 0;
    padding-top: 10px;
  }

  nav a {
    font-size: 16px;
  }
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  nav {
    display: flex;
    position: static;
    justify-content: flex-end;
    background: transparent;
    width: auto;
  }

  nav ul {
    flex-direction: row;
    display: flex;
    gap: 30px;
  }

  nav li {
    margin-left: 0;
    padding: 0;
  }
}
